* {
    padding: 0;
    margin: 0;
  }

  .button-container {
    text-align: center;
    margin-top: 20px;
}

.submit-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.submit-button:hover {
    background-color: #45a049;
}
  
  .field-title{
    font-size:20px;
    font-weight: bold;
  }
  lightning-button.button {
    --sds-c-button-brand-color-background: #ea580f;
    --sds-c-button-text-color: #f4f7f9;
    }

  .card-color{
    background-color:#e7e6e6;
  }

  .text-color{
    color: #0ab2f0;
    font-size: 20px;
  }

  .button-color{
    background-color: coral;
  }

  .numberCircle {
    border-radius: 50%;
    width: 80px;
    height: 125px;
    padding: 20px;

    background: #a9d18e;
    border: 5px solid #00b0f0;
    color: #ffffff;
    text-align: center;

    font: 25px Arial, sans-serif;
}

  .app{
    font-size:15px;
    font-weight: normal;
  }

  body {
    font-family: Montserrat;
  }

  .item {
    position: relative;
    top: 0;
    /* animation: mymove 5s infinite 1s; */
   /*- &:first-child {
    }
    &:nth-child(2) {
      color: #F79256;
    }
    &:nth-child(3) {
      color: #0FA3B1;
    }
    &:nth-child(4) {
      color: #FE5F55;
    }
    &:nth-child(5) {
      color: #B0DB43;
    } */
  }
  .THIS .field-title{
    font-weight: bold;
}

.THIS .team-name{
    font-weight: 50px;
}
   
  @keyframes mymove {
    100% {
      top: -200px; 
    }
   
  }