.head {
    font-weight: 600;
    color: #464255;
    font-size: 2rem;
}

.main-container {
    background-color: white;
    padding: 1rem;
    border-radius: 6px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100%;
    overflow-y: auto;
    scrollbar-width: none;
}

.table-container {
    flex: 1;
    overflow-y: auto;
    border: 1px solid lightgray;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.preview-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.85rem;
}

.table-header {
    position: sticky;
    top: 0;
    z-index: 1;
}

.preview-table th,
.preview-table td {
    padding: 6px 10px;
    border: 1px solid lightgray;
    text-align: left;
}

.preview-table th {
    padding: 0.5rem 1rem;
    /* background-color: #007acc; */
    background-color: #10732d;
    color: white;
    font-weight: 600;
}

.preview-table tr:nth-child(even) {
    background-color: aliceblue;
}

.preview-table tr:nth-child(odd) {
    background-color: white;
}